.color-block {
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  min-height: 140px;
  min-width: 140px;
  display: flex;
  color: transparent;
  margin: 2%;
}
